*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: whitesmoke;
    box-shadow: 0 5px 10px black ;
    padding:0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
   width: 60px;
   border-radius: 100px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
font-size: 20px;
padding: 20px;
color: rgb(108, 172, 13);
display: block;
}

header .navbar ul li a:hover{
    color: white;
    background: rgb(108, 172, 13);
}

header .navbar .fa{
    margin-right: 8px;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: whitesmoke;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    
    border-bottom: 1px solid rgb(108, 172, 13);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: none;
  border: 1px;
  padding: 5px;
  background: rgb(108, 172, 13);
  border-radius: 20px;
}



.headis{
	text-align: center;
	padding-top: 55px;
	padding-bottom: 55px;
	font-size: 50px;
	color: #000000a2;
	background: url('images/slider311.png');

}

.container {
    position: relative;
    width: 50%;
    max-width: 300px;
    display: inline-flex;
  }
  .container1{
    position: relative;
    width: 50%;
    max-width: 300px;
    display: inline-flex;
    margin-top: 50px;
    margin-left: 600px;
}
  .image {
    display: block;
    width: 85%;
    height: auto;
    margin: 20px;
    text-align: center;
    border: 10px groove rgba(0, 0, 0, 0.226);
    box-shadow: 0 10px 30px black;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    height: auto;
    background: rgba(0, 0, 0, 0.575);
    color: #f1f1f1; 
    width: 85%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-family: "Anta", sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
    
  }
  .overlay b{
    opacity:0;
    transition: 2s ease;
  }
  .container:hover .overlay b{
    opacity: 15;
    }
    .container1:hover .overlay b{
      opacity: 15;
    }
  .container1 .overlay{
    margin-right: 90px;
    background: rgba(0, 0, 0, 0.575);

  }
  
  .container:hover .overlay {
    opacity: 15;
  }
  .container1:hover .overlay {
    opacity: 15;
  }
  .team{
    margin-top: 50px;
    width: auto;
    text-align: center;
  }
  footer .wallpaper{
    margin-top: 40px;
    background: url(/images/footer-back.jpg);
    border: none;
  }
  .row{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 40px 80px;
    text-align: left;
    font-family: "Saira Condensed", sans-serif;

  }
  .row .fa{
    margin-right: 8px;
  }
  .row .logol h7{
    margin-bottom: 25px;
    color: whitesmoke;
    font-size: 30px;
    font-style: 22px;
    font-family: "Saira Condensed", sans-serif;
  }
  .row .logol p {
    color: whitesmoke;
    font-family: "Saira Condensed", sans-serif;
 }
 .wallpaper .row .footer-colomn .logol .fa{
    margin-left: 8px;
 }
 
  .footer .footer-colomn ul{
    list-style: none;
  }
  
  .footer-colomn3 .text-box p{
    font-size: larger;
    display: inline-block;
    color: whitesmoke;
    margin-top: 20px;
  }
  .footer-colomn4 h6{
    color: whitesmoke;
    margin-bottom: 15px;
    font-size: 30px;
    font-style: 22px;
    font-family: "Saira Condensed", sans-serif;
  }
  .footer-colomn4 ul li{
    color: rgb(0, 255, 47);
  }
  .footer-colomn4 ul i{
    color: black
  }
  .footer-colomn3 .text-box h7{
    margin-bottom: 25px;
    color: whitesmoke;
    font-size: 30px;
    font-style: 22px;
     font-family: Arial, Helvetica, sans-serif;
  }
  .footer-colomn3 .text-box p{
    font-size: 15px;
    color: rrgb(108, 172, 13);
  }
  
  
  .footer-colomn4 ul li{
    padding: 10px 0;
  }
  .footer-colomn4 ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7s;
    transition: 0.5s;
  }
  .footer-colomn4 ul li a:hover{
    opacity: 1;
    color: black;
  }
  .footer-colomn input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
  }
  .footer-colomn .InputSubmit{
    padding: 8px 20px;
    background-color: rgb(108, 172, 13);
    border: none;
    color: white;
  }
  .rowl .coll p{
    color: white;
    padding-bottom: 10px;
    justify-self: center;
    text-align: center;
  }
  .row .socialIcons i{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.5s;
  }
  .footer-colomn34 h8{
    margin-left: 2px;
    color: whitesmoke;
    font-size: 30px;
    font-style: 22px;
    font-family: "Saira Condensed", sans-serif;
  }
  .footer-colomn34 p{
    color: whitesmoke;
    font-size: 15px;
  }












@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: whitesmoke;
        border-top: 1px solid black;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: whitesmoke;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .headis{
        margin-top: 50px;
        width: auto;
        height:auto;
   
}
   .row{
   display: block;
   }

.container1{
    display: block;
    margin-left: 130px;
}

}
